.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightseagreen;
    padding: 1em;
    gap: 1rem;
    a {
        color: white !important;
        text-transform: uppercase;
    }
}
